// Header.module.scss

.header {
  padding: 20px;
  text-align: center;
}

.title {
  color: rgb(38, 37, 37);
  font-size: 20vh;
  font-weight: bold;
}
.logo img {
  width: 100px; /* Tamaño del logo */
  height: auto;
  display: flex;
  align-items: start;
}
