// Header.module.scss

.header {
  padding: 20px;
  text-align: center;
  background-color: rgb(33, 33, 33);

  @media (max-width: 768px) {
    padding: 10px;
  }
}

.title {
  color: rgb(38, 37, 37);
  font-size: 20vh;
  font-weight: bold;
  color: aliceblue; 

  @media (max-width: 768px) {
    font-size: 50px;
  }
}
.logo img {
  width: 100px; /* Tamaño del logo */
  height: auto;
  display: flex;
  align-items: start;

  @media (max-width: 768px) {
    width: 60px;
    display: flex;

    align-items: center;

  }
}
