.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 90px;
  text-align: center; 

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.imageContainer {
  margin-bottom: 20px;
  border-radius: 60px; /* Agrega bordes redondeados */
  overflow: hidden; 
  width: 100%;
  height: 100%;

  @media (min-width: 768px) {
    margin-right: 20px;
    margin-bottom: 0;
    width: 270%;

  }
}

.introText {
  text-align: center;
  padding: 0 20px;
font-size: 1.9rem;
  @media (min-width: 768px) {
    text-align: start;
  }
}
