/* TuComponente.module.css (o .scss) */

.wrapper {
    display: flex;
    height: 50vh;
  }
  
  .scrollableColumn {
    flex: 1; /* Esto hará que la columna ocupe todo el espacio restante */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    /* Otros estilos según tus necesidades */

    p{
        color: black;
        font-size: 300px;
    }
  }
  
  .fixedColumn {
    /* Estilos para la columna que no tendrá scroll */
    /* Puedes establecer un ancho fijo o ajustar según tus necesidades */
    width: 100px;
    /* Otros estilos según tus necesidades */
  }
  