.landing{
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(15, 15, 15) ;


    img{
      object-fit: cover;
      filter: brightness(18%);

    }
    
    .sliderContainer{
      position: absolute;
      top: calc(100vh - 350px);
    }
    
    .slider{
      position: relative;
      white-space: nowrap;
      top: 150px;
      z-index: 100;
      color: rgb(9, 9, 9);
    }
    
    .slider p{
      position: relative;
      margin: 0px;
      color: rgb(23, 23, 23);
      font-size: 180px;
      font-weight: 500;
      padding-right: 50px;
    }
    
    .slider p:nth-of-type(2){
      position: absolute;
      left: 100%;
      top: 0;
    }
  
    .description{
      position: absolute;
      top: 30%;
      left: 65%;
      color: white;
      font-size: 24px;
      font-weight: 300;
      p{
        margin: 0px;
        margin-bottom: 10px;
      }
      svg{
        transform: scale(2);
        margin-bottom: 40px;
      }
       h1 {
        font-weight: 200;
        font-size: 5vh;
        margin-bottom: 10px;
        margin: 0px;


       }
    }

    @media (max-width: 768px) {
      .description{
        left: 5%;
        
        h1{
          font-size: 3.5vh;


        }
      }


       
    .slider p{
      
      font-size: 140px;
      top: 10px;
      width: 100%;

    
    }

    .slider p:nth-of-type(2){
    
      top: 10px;
    }
    

            
    
    }
  }

  
  
