/* ThreeColumnsComponent.module.scss */
.threeColumns {
    display: flex;
    flex-direction: row; /* Asegura que las columnas se muestren horizontalmente */
    justify-content: space-between;
    margin-top: 300px;

    @media (max-width: 768px) {
        
          flex-direction: column; /* Cambia la dirección a vertical en dispositivos móviles */
          align-items: center; /* Centra las tarjetas verticalmente */
        }
  }
  
  .column {
    flex-basis: 30%; /* Cambia el ancho de las columnas según sea necesario */
    padding: 20px;
    background-color: #fffefe;
    text-align: center;
    border-radius: 10px; /* Agrega bordes redondeados para que parezca una tarjeta */
    transition: transform 0.3s ease; /* Agrega una transición suave */
    margin: 10px;

  }
  
  .column:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el cursor */
  }
  
  .column h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 400;
  }
  
  .column p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #6d6d6d;
    font-weight: 300;
  }
  

  .button{
    display: flex;
    border: 0.1px solid #ddd; /* Agrega un borde delgado */
    border-radius: 20px; /* Agrega bordes redondeados para que parezca una tarjeta */
    transition: transform 0.3s ease; /* Agrega una transición suave */
    padding: 10px;
    margin-top: 50px;
    justify-content: center;

}