/* components/SimpleComponent.module.scss */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
    background-color: #141516;
  }
  
  .container h4 {
    color: #141516; /* Adjust the color as needed */
  }
  
  @media (max-width: 768px) {

    .heading {
      color: #141516; /* Adjust the color as needed */
    }

  }