.clientCarousel {
    max-width: 1000px; /* Ajusta según tus necesidades */
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 300px;

    @media (max-width: 768px) {
        margin-top:150px;

      }
  }
  
  .logoContainer {
    text-align: center;
    padding: 10px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  