/* TuComponente.module.css (o .scss) */

.wrapper {
    display: flex;
    height: 50vh;
  }
  .introText {
    text-align: center; /* Centra el texto */
    font-size: 9vh; 
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 40px;
    overflow: hidden;
  
    @media (max-width: 768px) {
  
      font-size: 3vh; 
  
    }
  }
  .scrollableColumn {
    flex: 1; /* Esto hará que la columna ocupe todo el espacio restante */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    padding-right: 17px; /* Ancho aproximado de la barra de desplazamiento para evitar que se superponga */
    /* Otros estilos según tus necesidades */
  
    p {
      color: black;
      font-size: 80px; /* Ajusta el tamaño del texto según tus necesidades */
    }
  }
  
  /* style.module.scss */
  
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .image {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    max-height: 100%; /* Ensure the image doesn't exceed its container height */
  }
  
  
  .fixedColumn {
    /* Estilos para la columna que no tendrá scroll */
    /* Puedes establecer un ancho fijo o ajustar según tus necesidades */
    width: 100px;
    background-color: black;
    /* Otros estilos según tus necesidades */
  }
  
  .roundedButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Ajusta el margen según sea necesario */
    @media (max-width: 768px) {
      justify-content: center;
      text-align: center;

    }
  }