.project {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5%;
    border-bottom: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 2%;
    margin-left: 1%;

    @media (max-width: 768px) {
        width: 95%;
    }

    .linkContainer {
        .textWithIcon {
            display: flex;
            align-items: center;

            .textContainer {
                display: flex;
                flex-direction: column;
                margin-right: 10px; // Ajusta la distancia entre el texto y el ícono SVG
            }

            .iconSvg {
                flex-shrink: 0; // Evita que el SVG cambie de tamaño
            }
        }

        h2 {
            font-size: 9vh;
            margin: 0;
            font-weight: 400;
            transition: all 0.4s;
            text-decoration: none; 
            color: black;
        }

        p {
            transition: all 0.4s;
            font-weight: 300;
            margin-top: 5px;
            text-decoration: none;
            color: rgb(112, 112, 112);
        }

        &:hover {
            opacity: 0.5;

            h2 {
                transform: translateX(-10px);
                color: black;
            }

            p {
                transform: translateX(10px);
            }
        }
    }

    @media (max-width: 768px) {
        .linkContainer {
            width: 100%;
            padding: 0% 3% 0% 0%;
            margin-left: 0;
            margin-right: 0px;

            h2 {
                font-size: 2.4vh;
            }
            p {
                font-size: 1.9vh;
            }

            &:hover {
                opacity: 1;

                h2, p {
                    transform: translateX(0);
                }
            }
        }
    }
}
