.project {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
    border-bottom: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 2%;
    margin-left: 7%;

    
    @media (max-width: 768px) {

        width: 95%;
    }


    .linkContainer {

    h2 {
        font-size: 9vh;
        margin: 0;
        font-weight: 400;
        transition: all 0.4s;

    }

    p {
        transition: all 0.4s;
        font-weight: 300;
        margin-top: 5px;
        text-decoration: none;

    }

    &:last-of-type {
        border-bottom: 1px solid rgb(252, 252, 252);
    }

    &:hover {
        opacity: 0.5;

        h2 {
            transform: translateX(-10px);
            color: black;
        }

        p {
            transform: translateX(10px);
        }
    }
    }

    @media (max-width: 768px) {

        
        .icon {
            padding-right: 30px;
        }

        .linkContainer{
            width: 80%;
        padding: 0% 5% 0% 0%;
        margin-left: 0;
        margin-right: 0px;
        text-decoration: none;

        h2 {
            font-size: 2.4vh;
        }

      

        &:hover {
            opacity: 1;

            h2,
            p {
                transform: translateX(0);
            }
        }
    }
}}
