.project {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
    border-top: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 2%;
    margin-left: 7%;

    h2 {
        font-size: 4vw;
        margin: 0;
        font-weight: 400;
        transition: all 0.4s;
    }

    p {
        transition: all 0.4s;
        font-weight: 300;
        margin-top: 5px;
    }

    &:last-of-type {
        border-bottom: 1px solid rgb(201, 201, 201);
    }

    &:hover {
        opacity: 0.5;

        h2 {
            transform: translateX(-10px);
        }

        p {
            transform: translateX(10px);
        }
    }

    @media (max-width: 768px) {
            width: 90%;
        padding: 5% 5%;
        margin-left: 0;
        margin-right: 0;

        h2 {
            font-size: 3rem;
        }

        &:hover {
            opacity: 1;

            h2,
            p {
                transform: translateX(0);
            }
        }
    }
}
