.contact {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141516;
  position: relative; 
  margin-top: 100px;
  width: 100%;

  .body {
    padding-top: 200px;
    width: 100%;
    max-width: 1800px;
    background-color: #141516;
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgb(134, 134, 134);
      padding: 80px;

      @media (max-width: 768px) {
        flex-direction: column;
        padding: 40px;
      }

      .titleContent {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 20px;     
        font-weight: 400;  
        text-align: center;   
        letter-spacing: -0.5;

        @media (min-width: 768px) {
          flex-direction: row;
          justify-content: center;
        }
      }

      h6 {
        font-size: 5vw;
        margin: 0px;
        font-weight: 300;

        @media (max-width: 768px) {
          font-size: 6vw;
          font-weight: 500;
          margin-bottom: 6vh;
        }
      }

      .form {
        width: 100%;
        max-width: 400px;
        padding: 50px;
        background-color: #272727;
        border: none;
        border-radius: 10px;

        @media (max-width: 768px) {
          padding: 30px;
        }

        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 15px;
          align-items: center;                 

          input,
          textarea {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
          }

          input[type="text"],
          input[type="email"],
          textarea {
            height: 40px;
          }

          textarea {
            height: 100px;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-top: 50px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .nav {
      display: flex;
      gap: 20px;
      align-items: center;

      @media (max-width: 768px) {
        flex-direction: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
      }

      .socialButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border: 1px solid white;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.3s ease;
        padding: 10px;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .info {
      display: flex;
      gap: 40px;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }

      h3 {
        font-size: 1.2em;
        margin: 0;
      }

      p {
        margin: 5px 0;
        font-size: 0.9em;
      }

      span {
        text-align: center;
      }
    }
  }
}
