.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;


    @media (max-width: 768px) {
        margin-top: 0px;
        font-size: 6vh;
        margin-bottom: 0px;


      }
  }
  
  .gallery{
    width: 80%;
  }

  .gallery a {
    color: inherit; /* Hereda el color del texto */
  text-decoration: none;

  }

