.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    @media (max-width: 768px) {
        margin-top: 0px;
        font-size: 6vh;

      }
  }
  
  .gallery{
    width: 80%;
  }

  .gallery a {
    color: inherit; /* Hereda el color del texto */
  text-decoration: none;

  }

