.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 90px;
  text-align: center; 

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.imageContainer {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.introText {
  text-align: center;
  padding: 0 20px;
font-size: 3rem;
  @media (min-width: 768px) {
    text-align: start;
  }
}
